/*
.playfair-display-<uniquifier> {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
  .montecarlo-regular {
  font-family: "MonteCarlo", cursive;
  font-weight: 400;
  font-style: normal;
}

*/

  hr {
    border: none; 
    border-top: 0.07rem solid #33272a; 
    width: 100%; 
  }

* {
    font-family: "Playfair Display", serif;
    margin: 0%;
    font-weight: 400;
    cursor: url('Images/wand.PNG') 31 1, auto;
    color: #33272a;
}

.spacing {
  height: 2vh;
}

body {
  font-size: 1.5rem;
  background-color: #fcdcdb;
  overflow-x: hidden;
}

h1 {
  color: #33272a;
  font-weight: 700;
  font-size: 1.8rem;
  text-align: center;
}

h2 {
  color: #33272a;
}

#btn {
  background-color: #f0e3e7;
  border: 0.07rem solid #33272a;
  border-radius: 50%;
  font-family: "MonteCarlo", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
  min-width: 8vw;
  height: auto;
}

#btn:hover {
cursor: url('Images/wand-click.PNG') 31 1, auto;
}
/* NAVIGATION */


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    background-color: #fcdcdb;
    padding-left: 2%;
    padding-right: 2%;
    height: 10vh;
    top: 0;
    border-bottom: 0.07rem solid #33272a;
    z-index: 2;

}

#logo-img {
  max-height: 10vh;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#logo-img-img{
  max-height: 8vh;
  height: auto;
  cursor: url('Images/wand-click.PNG') 31 1, auto;
}

#logo {
  font-size: 1.5em;
  color: #33272a;
  font-weight: 600;
  cursor: url('Images/wand-click.PNG') 31 1, auto;
}

#hamburger {
  width: 35px;
  height:30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
  z-index: 1;
}

#hamburger span {
  width: 100%;
  height: 0.1rem;
  background: #33272a;
  transition: 0.3s;
}

#hamburger:hover {
  cursor: url('Images/wand-click.PNG') 31 1, auto;
}

#menu {
  display: none;
  right: 0;
  position: absolute;
  width: 20vw;
  background: #fcdcdb;
  border-left: 0.07rem solid #33272a;
  border-bottom: 0.07rem solid #33272a;
  border-bottom-left-radius: 2rem;
  z-index: 2;
}

#menu ul {
  list-style: none;
  width: 100%;
  text-align: center;
  padding: 0;
  margin: 0;
}

#menu ul li {
  width: 100%;
  text-align: center;
  color: #33272a;
  margin-bottom: 1rem;
}

#menu ul li a {
  text-decoration: none;
  font-weight: 600;
  display: block;
  color: #33272a;
  cursor: url('Images/wand-click.PNG') 31 1, auto;
}

#menu ul li:hover{
  text-decoration: underline;
  text-decoration-color: #33272a;
}

#menu.active {
  display: block;
}

/* SECTION 1 */

#section1 {
  width: 100%;
  position: relative;
}

#section1 img {
  width: 100%;
  height: auto;
  display: block;
}

#community1 {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 100%;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  align-items: center;
  text-align: center;
}



/* SCROLLING SECTION */

.scroll-container {
  position: relative;
  width: 100%;
  height: 18vh;
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  align-items: center;
  background-color: #d3daff;
  font-weight: 700;
}

.scrolling-text {
  display: flex;
  white-space: nowrap;
  word-spacing: 2rem;
  animation: scroll-left 55s linear infinite;
}

@keyframes scroll-left {
  from {
    transform:translateX(0%);
  }
  to {
    transform:translateX(-100%);
  }
}


/* SECTION 2 */

#section2 {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
  background-color: #fcdcdb;
  padding-bottom: 15vh;
}

#eac-text {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.eac-h1 {
  font-family: "MonteCarlo", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 4rem;
}

#booklets {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 90vw;
  margin: 0 auto;
  
}
#one{
  display: flex;
  flex-direction: column;
  width: 15rem;
  height: 20rem;
  align-content: space-around;
  align-items: center;
  border: 0.07rem solid #33272a;
  border-radius: 2rem;
  background-color: #d3daff;
}
#two{
  display: flex;
  flex-direction: column;
  width: 15rem;
  height: 20rem;
  align-content: space-around;
  align-items: center;
  border: 0.07rem solid #33272a;
  border-radius: 2rem;
  background-color: #d3daff;
}
#three{
  display: flex;
  flex-direction: column;
  width: 15rem;
  height: 20rem;
  align-content: space-around;
  align-items: center;
  border: 0.07rem solid #33272a;
  border-radius: 2rem;
  background-color: #d3daff;
}

/* SECTION 3 */

#section3 {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  background-color: #f9f8fc;
}

#section3-container {
  display: flex;
  flex-direction: column;
  width: 80vw;
  height: 70vh;
  align-content: space-around;
  align-items: center;
  border: 0.07rem solid #33272a;
  border-radius: 2rem;
  background-color: #d3daff;
}